<div [class.form-area]="centerText">
  <h1>Post Forms</h1>
  <br><br>
  <input type="text" placeholder="Post title" [(ngModel)]="postTitle" (keyup.enter)="onKeyup()">
  <br><br>
  <textarea cols="30" rows="10" placeholder="Post Details" [(ngModel)] = "postDetails"></textarea>
  <br><br>
  <input type="text" placeholder="Post Image" [(ngModel)] = "imageUrl">
  <br><br>
  <input type="text" placeholder="Post Url" [(ngModel)] = "postUrl">
  <br><br>
  <input type="checkbox" [(ngModel)] = "addBackground"> Add Background
  <br><br>
</div>

<div class = "preview-area">
    <img [src]="imageUrl"alt="">
     <h1><span [class.add-background] = "addBackground">{{postTitle}}</span></h1>
     <p>{{postDetails}}</p>
     <a [href]="postUrl" target="_blank" [style.display] = "postUrl ? 'block' : 'none' "> More Details</a>
</div>

